{% extends "layout.html" %}
{% block body %}

{% include 'includes/breadcrumb.html' %}

{% load crispy_forms_tags %}
<div class="row mt-5 mb-5">
    <div class="col-md-6 offset-md-3">
        <h3>Add Article</h3>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <hr>
            <button type="submit" class="btn btn-danger">Kaydet</button>
        </form>
    </div>
</div>
{% endblock %}