{% extends "layout.html" %}
{% load static %}
{% block body %}
<!-- bredcrumb Area Start-->
<section class="breadcrumb-area">
    <div class="banner-bg-img"></div>
    <div class="banner-shape-1"><img src="{% static 'assets/img/banner/shape-1.png' %}" alt="img"></div>
    <div class="banner-shape-2"><img src="{% static 'assets/img/banner/shape-2.png' %}" alt="img"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 align-self-center">
                <div class="banner-inner text-center">
                    <h3>Blog
                    </h3>
                    <h1>Food Blog</h1>
                    <nav aria-label="breadcrumb">

                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- bredcrumb Area End -->

<div class="row mt-3">
    <div class="col-lg-8 offset-2" style="text-align:center">

        <form action="" method="GET">
            {% csrf_token %}
            <input type="text" name="keyword" class="input-sm">
            <button type="submit" class="btn btn-danger">Ara</button>
            <hr>
        </form>
    </div>
</div>

{% if articles %}
{% for article in articles %}
<div class="row">
    <div class="col-lg-8 offset-2">
        <!-- Post content-->
        <article>
            <!-- Post header-->
            <header class="mb-4" style="text-align:center">
                <!-- Post title-->
                <a href="{% url 'article:detail' article.id %}"><h1 class="fw-bolder mb-1">{{ article.title }}</h1></a>
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{ article.created_date }}</div>
                <!-- Author-->
                <p class="lead">{{ article.author }}</p>
            </header>
            <!-- Preview image figure-->
            {% if article.article_image %}
            <figure class="mb-4" style="text-align:center">
                <img class="img-fluid rounded" height="250px" width="250px" src="{{ article.article_image.url }}"
                                      alt="..."></figure>
            {% endif %}
            <!-- Post content-->
            <section class="mb-5" style="text-align:center">
                <div class="">
                    {{ article.content|safe|truncatewords:5 }}
                    <a href="{% url 'article:detail' article.id %}">read more</a>
                </div>
            </section>
        </article>
        <hr>
    </div>
</div>

{% endfor %}
{% else %}
<div class="row">
    <div class="col-lg-8 offset-2">
        <div class="alert alert-danger" role="alert">
            Makale bulunamadı
        </div>
    </div>
</div>
{% endif %}

{% endblock body %}